config server
    option enabled '0'
    option level 'info'
    option host '0.0.0.0'
    option port '7999'
    option workers '1'
    option proxy ''
    option tcp_keepalive '5'
    option tls_cert ''
    option tls_key ''
    option sign_secret_key ''
    option tb_enable '0'
    option tb_store_strategy 'mem'
    option tb_capacity '60'
    option tb_fill_rate '1'
    option tb_expired '86400'