config ninja
    option enabled '0'
    option level 'info'
    option host '0.0.0.0'
    option port '7999'
    option workers '1'
    option proxies ''
    option preauth_api ''
    option disable_direct '0'
    option timeout '600'
    option connect_timeout '60'
    option arkose_token_endpoint ''
    option arkose_solver_key ''
    option arkose_solver ''
    option arkose_auth_har_file ''
    option arkose_chat_har_file ''
    option arkose_platform_har_file ''
    option arkose_har_upload_key ''
    option tcp_keepalive '60'
    option pool_idle_timeout '90'
    option tls_cert ''
    option tls_key ''
    option tb_enable '0'
    option tb_store_strategy 'mem'
    option tb_redis_url 'redis://127.0.0.1:6379'
    option tb_capacity '60'
    option tb_fill_rate '1'
    option tb_expired '86400'
    option puid_user ''
    option api_prefix ''
    option cookie_store '0'
    option concurrent_limit ''
    option disable_webui '0'
    option cf_site_key ''
    option cf_secret_key ''