<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="title" content="ChatGPT: Get instant answers, find inspiration, learn something new">
    <meta name="keywords"
        content="ai chat,ai,chap gpt,chat gbt,chat gpt 3,chat gpt login,chat gpt website,chat gpt,chat gtp,chat openai,chat,chatai,chatbot gpt,chatg,chatgpt login,chatgpt,gpt chat,open ai,openai chat,openai chatgpt,openai">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="ChatGPT">
    <meta property="og:url" content="https://chat.openai.com">
    <meta name="apple-itunes-app" content="app-id=6448311069">
    <meta property="og:site_name" content="ChatGPT">
    <meta name="robots" content="noindex,nofollow">
    <meta property="og:decription" content="Shared via ChatGPT">
    <meta property="og:image" content="/images/chatgpt-share-og.png">
    <meta name="next-head-count" content="14">
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/favicon-16x16.png">
    <link rel="preload" href="https://cdn.oaistatic.com/_next/static/media/soehne-buch.13189857.woff2" as="font" crossorigin=""/>
    <link rel="preload" href="https://cdn.oaistatic.com/_next/static/media/soehne-halbfett.977f1845.woff2" as="font" crossorigin=""/>
    <link rel="preload" href="https://cdn.oaistatic.com/_next/static/media/soehne-mono-buch.de677af1.woff2" as="font" crossorigin=""/>
    <link rel="preload" href="https://cdn.oaistatic.com/_next/static/media/soehne-mono-halbfett.b082e8e2.woff2" as="font" crossorigin=""/>
    <link data-next-font="" rel="preconnect" href="/" crossorigin="anonymous"/>
    <link rel="preload" href="https://cdn.oaistatic.com/_next/static/css/bd92889540e5df38.css" as="style"/>
    <link rel="stylesheet" href="https://cdn.oaistatic.com/_next/static/css/bd92889540e5df38.css" data-n-g=""/>
    <noscript data-n-css=""></noscript>
    <script defer="" nomodule="" src="https://cdn.oaistatic.com/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js"></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/webpack-f0d5d0ecb8743987.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/framework-10a404587b40544b.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/main-2c03450a19a7bc03.js" defer=""></script>
    <script src="/_next/static/chunks/pages/_app-f5bb5a392e054f84.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/bd26816a-537855338b714f81.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/6199c948-28b15521c4eb1cf7.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/1f110208-24bf6c2e080e0308.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/4603-4c7b1e976779b30e.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/7367-1a573c2a89d41ae1.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/7827-7c413d9a871b598c.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/1438-8d1de903270120c8.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/2322-f0f3f49aa99d7a67.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/3845-22696f20501ea207.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/6823-22749f846ad62e48.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/4481-9349c4fec3dab268.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/5526-900fe4c3eae95ab3.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/6110-b2634f2f3f8ab35c.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/1522-e5ea940f9080cee6.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/3608-2859b76f71f002c0.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/chunks/pages/share/%5B%5B...shareParams%5D%5D-12671a0f0e5ea09a.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/eFlZtDCQUjuHAccnRY3au/_buildManifest.js" defer=""></script>
    <script src="https://cdn.oaistatic.com/_next/static/eFlZtDCQUjuHAccnRY3au/_ssgManifest.js" defer=""></script>
</head>

<body class="antialiased">
    <div id="__next">
        <script>!function () { try { var e = document.documentElement, t = e.classList; t.remove("light", "dark"); var a = localStorage.getItem("theme"); if ("system" !== a && a) a && t.add(a || ""); else { var c = "(prefers-color-scheme: dark)", r = window.matchMedia(c); r.media !== c || r.matches ? (e.style.colorScheme = "dark", t.add("dark")) : (e.style.colorScheme = "light", t.add("light")) } "light" !== a && "dark" !== a || (e.style.colorScheme = a) } catch (a) { } }()</script>
        <div class="absolute left-0 right-0 top-0 z-[2]"></div>
    </div>
    <script id="__NEXT_DATA__" type="application/json">{{props|safe}}</script>
    <script>"serviceWorker" in navigator && window.addEventListener("load", function () { navigator.serviceWorker.register("/resources/service-worker.js", { scope: "/resources/" }).then(function (e) { console.log("ServiceWorker registration successful with scope: ", e.scope) }, function (e) { console.log("ServiceWorker registration failed: ", e) }) })</script>
    <script>{%if arkose_endpoint is defined and arkose_endpoint != "" %} window.__arkose_endpoint = "{{ arkose_endpoint | safe }}" {%else%} window.__arkose_endpoint = window.location.origin {% endif %}</script>
    <script>{%if api_prefix is defined and api_prefix != "" %} window.__api_prefix = "{{ api_prefix | safe }}" {%else%} window.__api_prefix = window.location.origin {% endif %}</script>
</body>

</html>